[core]
	editor = \"C:\\Users\\david\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[user]
	email = you@example.comdpollak44@gmail.com
	name = Your Namedpollak44
[gui]
	recentrepo = C:/Users/david/Documents/NetBeansProjects
	recentrepo = C:/Users/david/Documents/Dovid/Projects
